@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "NotoSansKhmer-Regular";
  src: local("NotoSansKhmer-Regular"),
  url('./assets/font-fam/NotoSansKhmer-Regular.ttf') format('truetypes');
}

@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
  url("./assets/font-fam/OpenSans-Regular.ttf") format('truetypes');
}

@font-face {
  font-family: "Moul-Regular";
  src: local("Moul-Regular"),
  url("./assets/font-fam/Moul-Regular.ttf") format('truetypes')
}
